
@import url(http://fonts.googleapis.com/css?family=Roboto);
*{
    font-family: 'Roboto', sans-serif;

}
html,body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;

}

body {
    background-color: #F9F9F9;
}

#header{
    padding: 0;
    width: 100%;
    height: 60px;margin-bottom: 30px;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

#header>h1{
    line-height: 60px;
    padding: 0;
    margin:0;
    color: #B8B8B8;
    font-size: 1.4em;
    text-align: center;

}
#nav{
    width: 100%;
    height: 90px;
    background-color: #ffffff;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


#menu{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 90px;

}#menu>li{
     line-height: 90px;
     height: 90px;
     float: left;
     margin-left: 60px;
 }


#menu>li>img:first-child {
    width: 50px;
    margin-top: 20px;

    padding: 4px;
    height: 50px;
    border-radius: 50px;
}


#menu>li>a{
    line-height: 90px;
    font-size: 16px;
    text-decoration: none;
    color: #e51c23;
}
#menu>li>a:hover{
    color: #0091ea;
}

#wrapper{

    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: #FFFFFF;
    height: 500px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
#wrapper2{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    min-height: 400px;
    height: auto;
}
#class{
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding:20px;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}




#views{
    margin-top: 60px;
    width: 500px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 60px;

}
#info{
    float: left;
    width: 200px;
    height: 400px;

    margin-top: -0px;
}
#info>li{

    list-style: none;
}

#info>li{
    margin-top: 30px;
    font-size: 1.5em;
    width: 190px;

    padding: 0;
    height: 20px;
    margin-bottom: 10px;

}

input[type=text]{
    width: 200px;
    height: 30px;
    border: 1px solid #DADADA;
    border-radius: 2px;
}

button[type=submit],button{
    margin-top: 20px;
    background-color: #3F51B5;
    border: 1px solid #3F51B5;
    border-radius: 3px;
    height: 50px;
    width: 200px;
    color: white;


}
button:hover>a,button>a{
    color: #ffffff;
    text-decoration: none;
}

button[type=submit]:hover,button:hover{

    background-color: #0091EA;
    cursor: pointer;
}


#cover{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;

}



td{
    text-align: center;
    height: 50px;
    border-bottom: 2px solid #ebebeb;

}
th{
    background-color: #ebebeb;


}
table{

}

tr{

}