<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcomwwwe!{% endblock %}</title>
        {% stylesheets 'main.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />



    </head>
    <body>


<div id="nav"><ul id="menu">{% block nav %} {% endblock %}</ul> </div>
<div id="header">   {% block header %} {% endblock %} </div>

        <div id="class">
        {% block body %}











    {% endblock %}

        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
