{% extends "::base.html.twig" %}

{% block title %} Welcome{% endblock %}
   {% block header %}
       <h1>Welcome Admin</h1>
   {% endblock %}
{% block nav %}


    <li>  <a href="/add">Admin</a></li>





{% endblock %}

{% block body %}

    <p>Hi , This is the first time you can add delete and update cds to the database.</p>




{% endblock %}


