{% extends "assessmentOneBundle:base:base.html.twig" %}
{% block title %}  assessmentOneBundle:Main:index{% endblock %}




{% block nav %}


    <li><img src="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/speakers.png" width="50px" height="50px"></li>
    <li> <a href="/update">update</a></li>
    <li>  <a href="/add">add</a></li>
    <li>  <a href="/delete">delete</a></li>
    <li>  <a href="/view">view</a></li>




{% endblock %}
{% block header %}
    <h1>  {{ text }}</h1>
{% endblock %}
{% block body %}

<button><a href="/view"> View Cds</a></button>
{% endblock %}
